<html>

<body>
  <!-- navigation bar starts -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
    <a class="navbar-brand" routerLink="/home">Logeshwaran</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink='/home'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">My cart</a>
        </li>
      </ul>
      <div class="row mr-2">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Filter</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="Wishlist()">Wishlist</button>
              <button ngbDropdownItem (click)="PreOrders()"> Previous orders</button>
            </div>
          </div>
        </div>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-3" type="search" [(ngModel)]="searchText" name="search"
          placeholder="Search for products" aria-label="Search" style="width: 600px;">
      </form>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="onLogout()">Logout</button>
      </form>
    </div>
  </nav>

  <!-- navigation bar ends -->


  <div class="page-title-wrapper border-bottom">
    <h3 class="h4">Buy Product</h3>
  </div>



  <div class="body-container">
    <div class="card-container">
      <div class="card">
        <div class="column-left">
          <h4>Product Image</h4>
          <div class="image-wrapper-main">
            <img src="assets/{{product_image}}">
          </div>
        </div>
        <div class=" column-right">
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="card-data-row-top">
              <p class="card-text"><label class="label-title">Product Name</label>
                <label>:</label>
                <label class="label-data">{{pname}}</label></p>

              <p class="card-text"> <label class="label-title">Product Description</label>
                <label>:</label>
                <label class="label-data">{{pdesc}}</label></p>


              <p class="card-text"> <label class="label-title">Product Category</label>
                <label>:</label>
                <label class="label-data">{{pcat}}</label></p>

              <div *ngIf="pdisc > 0">
                <p class="card-text">
                  <label class="label-title">Actual price </label>
                  <label>:</label>
                  <label class="label-data">{{pprice}}</label>
                </p>
                <p class="card-text"><label class="label-title">Discounted Price</label>
                  <label>:</label>
                  <label class="label-data">{{(pprice - (pprice * (pdisc / 100)))}}</label></p>
                <p class="card-text">
                  <label class="label-title">You save </label>
                  <label>:</label>
                  <label class="label-data">{{pprice - (pprice - (pprice * (pdisc / 100)))}}</label>
                </p>
              </div>
              <div *ngIf="pdisc === 0">
                <p class="card-text">
                  <label class="label-title">Price:</label>
                  <label class="label-data">{{pprice}}</label>
                </p>
              </div>
              <div class="form-group">
                <p class="card-text">
                  <label class="quantity-wrapper">Quantity</label>
                  <label>:</label>
                  <input type="number" id="productQuantity" formControlName="product_quantity" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.product_quantity.errors }">
                  <label *ngIf="submitted && f.product_quantity.errors" class="invalid-feedback">
                    <label *ngIf="f.product_quantity.errors.required">Quantity is required</label>
                    <label *ngIf="f.product_quantity.errors.pattern">Quantity must atleast 1 </label>
                    <label *ngIf="f.product_quantity.errors.max">Quantity must not exceed out of stock </label>
                  </label>
                </p>
              </div>
            </div>
            <div class="card-data-row-bottom button-wrapper">
              <button type="submit" class="button">Place order</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
