<app-user-nav-bar></app-user-nav-bar>

<div *ngFor="let product of products">
  <div class="card mb-3" style="max-width: 75%; margin-left: 30px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets/{{product.product_image}}" height="200px" width="250px">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Product name : {{product.product_name}}</h5>
          <p class="card-text"> Description : {{product.product_description}} </p>
          <p class="card-text"> Price : {{product.product_price}} </p>
          <button type="button" class="btn btn-success" (click)="toCart(product)">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
