<!-- Navigation bar  -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">E-commerce site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="justify-content-end navbar-collapse" id="navbarNav">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Body content of the login page -->
<h1 class="text-center">Login page</h1>

<div class="container">
  <div class="row justify-content-center">
    <form (submit)="authenticateData()">
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" [(ngModel)]="email" class="form-control">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" [(ngModel)]="password" class="form-control">
        <label *ngIf="invalid">Incorrect username or password</label>
        <br>
      </div>
      <div class="row">
        <input type="submit" name="login" value="Login" class="btn btn-success">
      </div>
    </form>

  </div>
</div>
