<html>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/adminInventory">Logeshwaran</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink='/adminInventory'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/addItem">Add Item</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-3" type="search" [(ngModel)]="searchText" name="search"
        placeholder="Search for products" aria-label="Search" style="width: 600px;">
    </form>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="onLogout()">Logout</button>
    </form>
  </div>
</nav>


<div *ngIf="isSuccess">
  <div class="alert alert-success" role="alert">
    Product Added successfully!
  </div>
</div>

<div
  class="mb-2">
  <h1 class="h2">Add Products</h1>
</div>

<div class="card-container">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <p class="card-text">
            <label>Product Name: </label>
            <input type="text" id="productName" formControlName="product_name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.product_name.errors }">
            <label *ngIf="submitted && f.product_name.errors" class="invalid-feedback">
              <label *ngIf="f.product_name.errors.required">Product name is required</label>
            </label>
          </p>
        </div>

        <div class="form-group">
          <p class="card-text">
            <label> Quantity: </label>
            <input type="number" id="productQuantity" formControlName="product_quantity" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.product_quantity.errors }">
            <label *ngIf="submitted && f.product_quantity.errors" class="invalid-feedback">
              <label *ngIf="f.product_quantity.errors.required">Quantity is required</label>
            </label>
          </p>
        </div>

        <div class="form-group">
          <p class="card-text">
            <label> Price (in Rupees): </label>
            <input type="number" id="productPrice" formControlName="product_price" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.product_price.errors }">
            <label *ngIf="submitted && f.product_price.errors" class="invalid-feedback">
              <label *ngIf="f.product_price.errors.required">Price is required</label>
            </label>
          </p>
        </div>

        <div class="form-group">
          <p class="card-text">
            <label> Description: </label>
            <textarea formControlName="product_description" id="description" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.product_description.errors }"></textarea>
            <label *ngIf="submitted && f.product_description.errors" class="invalid-feedback">
              <label *ngIf="f.product_description.errors">Description is required</label>
            </label>
          </p>
        </div>

        <div class="form-group">
          <p class="card-text">
            <label> Discount (in Percentage): </label>
            <input type="number" id="productDiscount" formControlName="product_discount" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.product_discount.errors }">
            <label *ngIf="submitted && f.product_discount.errors" class="invalid-feedback">
              <label *ngIf="f.product_discount.errors">Discount is required</label>
            </label>
          </p>
        </div>

        <div class="form-group">
          <p class="card-text">
            <label> Category: </label>
            <input type="text" id="productCategory" formControlName="product_category" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.product_category.errors }">
            <label *ngIf="submitted && f.product_category.errors" class="invalid-feedback">
              <label *ngIf="f.product_category.errors.required">Category is required</label>
              </label>
          </p>
        </div>

        <div class="form-group">
          <p class="card-text">
            <label> Preview Image: </label>
            <input #myInput type="file" id="image" (change)="onFileSelected($event)" class="form-control-file"
              formControlName="imageInput" [ngClass]="{ 'is-invalid': submitted && f.imageInput.errors }">
            <label *ngIf="submitted && f.imageInput.errors" class="invalid-feedback">
              <label *ngIf="f.imageInput.errors.required">Image is required</label>
            </label>
          </p>
        </div>
        <div class="row ml-1">
          <input type="submit" name="add" value="Add Item" class="btn btn-success">
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>