<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">Welcome to E-commerce site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink='/adminInventory'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/addItem">Add Item</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-3" type="search" [(ngModel)]="searchText" name="search"
        placeholder="Search for products" aria-label="Search" style="width: 600px;">
    </form>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="onLogout()">Logout</button>
    </form>
  </div>
</nav>


<div *ngIf="isSuccess">
  <div class="alert alert-success" role="alert">
    Product Added successfully!
  </div>
</div>

<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-3 mb-5 ml-3 mr-3 border-bottom">
  <h1 class="h2">Add Products</h1>
</div>
<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit();">
    <div class="form-group">
      <label>Product Name: </label>
      <input type="text" id="productName" formControlName="product_name" class="form-control">
    </div>
    <div class="form-group">
      <label> Quantity: </label>
      <input type="number" id="productQuantity" formControlName="product_quantity" class="form-control">
    </div>
    <div class="form-group">
      <label> Price: </label>
      <input type="number" id="productPrice" formControlName="product_price" class="form-control">
    </div>
    <div class="form-group">
      <label> Description: </label>
      <textarea formControlName="product_description" id="description" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label> Discount: </label>
      <input type="number" id="productDiscount" formControlName="product_discount" class="form-control">
    </div>
    <div class="form-group">
      <label> Category: </label>
      <input type="text" id="productCategory" formControlName="product_category" class="form-control">
    </div>
    <div class="form-group">
      <label> Preview Image: </label>
      <input #myInput type="file" id="image" (change)="onFileSelected($event)" class="form-control-file">
    </div>
    <div class="row ml-1">
      <input type="submit" name="add" value="Add Item" class="btn btn-success">
    </div>
  </form>
</div>
