<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">Welcome to E-commerce site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink='/adminInventory'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/addItem">Add Item</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-3" type="search" [(ngModel)]="searchText" name="search"
        placeholder="Search for products" aria-label="Search" style="width: 600px;">
    </form>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="onLogout()">Logout</button>
    </form>
  </div>
</nav>

<!-- navigation bar ends here -->

<div class="d-flex justify-content-center align-items-center" style="margin-top: 10%;" *ngIf = "isEmpty">
  <h1 class="h1">No items available.</h1>
  <br><br>
  <h2 class="h2">Go to "Add item"</h2>
</div>

<div *ngFor="let product of products | filter : searchText">
  <div class="card mb-3" style="max-width: 75%; margin-left: 30px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets/{{product.product_image}}" height="300px" width="350px">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Product name : {{product.product_name}}</h5>
          <p class="card-text">Product Quantity : {{product.product_quantity}}</p>
          <p class="card-text"> Price : {{product.product_price}} </p>
          <p class="card-text"> Description : {{product.product_description}} </p>
          <p class="card-text"> Discount : {{product.product_discount}} </p>
          <p class="card-text"> Category : {{product.product_category}} </p>
          <button type="button" class="btn btn-success" (click)="onUpdate(product)">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
