<app-nav-bar></app-nav-bar>


<div *ngFor = "let product of products">
    <div class="card mb-3" style="max-width: 75%; margin-left: 30px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img [src]="product.product_image" height="300px" width="350px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Product name : {{product.product_name}}</h5>
              <p class="card-text">Product Quantity : {{product.product_quantity}}</p>
              <p class="card-text"> Price : {{product.product_price}} </p>
              <p class="card-text"> Description : {{product.product_description}} </p>
              <p class="card-text"> Discount : {{product.product_discount}} </p>
              <!-- <div class="row">  -->
                <button type="button" class="btn btn-success">Update</button>
              <!-- </div> -->
              <!-- <div class = "row">
                <button (click) = "buyButtonData(data)" class="btn btn-primary" style="width: 100px;">Buy</button> -->
                <!-- <btto href="#" class="btn btn-success ml-3" style="width: 200px;">Add to cart</a> -->
                  <!-- <button (click) = "cartFunction(data)" class="btn btn-success ml-3" style="width: 200px">Add to cart</button>
              </div> -->
              <!-- <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.</p> -->
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
      </div>
</div>